<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Platzi Commerce</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <header>
      <h3>Platzi Commerce</h3>
      <input type="search" name="" id="searchInput" v-model="productSearch" @keyup="filterProduct">
      <button
        class="cart"
        @click="cartOpen = !cartOpen"
      >
        Carro ({{ cart.length }})
      </button>
      <div class="cart-content"  v-show="cartOpen">
        <div
          class="cart-content__product"
          v-for="(product, index) in cart"
          :key="product.name"
          :class="{ 'bg-gray': index & 1 }"
        >
          <img
            :src="product.images[index].image"
            :alt="product.name"
          >
          <span>
            {{ product.name }} -
            ${{ new Intl.NumberFormat("es-MX").format(product.price) }}
            ({{ product.quantity }})
          </span>
        </div>
        <p>Total ${{ new Intl.NumberFormat("es-MX").format(total) }}</p>
      </div>
    </header>
    <main>
      <product
        v-for="product in products"
        :key="product.name"
        :product="product"
        @sendtocart="addToCart($event)"
      >
      </product>
    </main>
  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script>
    const { createApp } = Vue;

    const app = createApp({
      data() {
        return {
          products: [],
          cartOpen: true,
          cart: [],
          //total: 0,
        }
      },

      methods: {
        addToCart(product) {
          const productIndex = this.cart.findIndex(product => product.name === product.name);
          if(productIndex >= 0) {
            this.cart[productIndex].quantity += 1;
          } else {
            this.cart.push(product);
          }
          product.stock -= 1;
        },

        filterProduct() {
          const search = this.productSearch.toUpperCase();
          this.products = this.products.filter(product => {
            return product.name.toUpperCase().includes(search);
          });

          if(search.length === 0) {
            fetch('https://my-json-server.typicode.com/iosamuel/demo/products')
            .then(response => response.json())
            .then(products => {
              this.products = products;
            });
          }
        }
      },

      watch: {
        /* cart: {
          handler(cart) {
            this.total = cart.reduce((previous, current) => {
              const previousPrice = previous.price || previous;
              const previousQuantity = previous.quantity || 1;
              return previousPrice * previousQuantity + current.price * current.quantity;
            }, 0);
          },
          deep: true,
        } */
      },

      computed: {
        total() {
          return this.cart.reduce((previous, current) => {
            const previousPrice = previous.price || previous;
            const previousQuantity = previous.quantity || 1;
            return previousPrice * previousQuantity + current.price * current.quantity;
          }, 0);
        },
      },

      mounted() {
        try {
          fetch('https://my-json-server.typicode.com/iosamuel/demo/products')
            .then(response => response.json())
            .then(products => {
              this.products = products;
            });
        } catch (error) {
          console.error('Error al hacer la petición: ', error);
        }
      },
    });
    </script>

  <script src="badge.js"></script>
  <script src="product.js"></script>

  <script>
    app.mount("#app");
  </script>
</body>
</html>